/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;562;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Noto+Sans:400,400i,700,700i&display=swap&subset=korean');
/* font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif; 
font-family: 'Dancing Script', cursive;*/
@mixin item_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin button_reset {
  border: none;
  outline-style: none;
  cursor: pointer;
  background: none;
}
@mixin bg_center($arg1){
  background: url($arg1) no-repeat center / cover;
}
@mixin size($wid) {
  width: $wid;
  height: 100vh;
}
@mixin box_shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}
@mixin absol_center{
  position: absolute;
  top:50%; left:50%;
  transform: translate(-50%,-50%);
}

*{
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  color: #111;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Noto Sans KR', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a{
  text-decoration: none;
}

html.search{
  position: fixed;
  overflow: hidden;
}
.wrap{
  position: relative;
}
.wrap.search{
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
::selection{
  background: #d70000;
}
//menu
.menu{
  & h3{
      position: absolute;
      top: -5%; right: 6.25%;
      transform: translateX(50%);
      z-index: 100;
      font-weight: bold;
      font-size: 1.2rem;
      color: rgba(255,255,255,0.9);
      transition:1s cubic-bezier(0.22, 1, 0.36, 1); 
  }
  &__button{
      position: absolute;
      z-index: 5;
      right: 25%; top: 50%;
      transform: translate(50%, -50%);
      @include button_reset();
      width: 30px;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: 1s cubic-bezier(0.22, 1, 0.36, 1);
      & span{
          width: 18px;
          height: 3px;
          background: #fff;
          transition: .3s cubic-bezier(0.22, 1, 0.36, 1);
          &:nth-of-type(2){
              width: 30px;
          }
      }
      &.open{
          & span{
              &:nth-of-type(1){
                  width: 30px;
                  transform: rotate(45deg) translateY(18px);
              }
              &:nth-of-type(2){
                  width: 0;
              }
              &:nth-of-type(3){
                  width: 30px;
                  transform: rotate(-45deg) translateY(-17px);
              }
          }
      }
  }
  &__background{
      @include size(100%);
      display: flex;
      position: fixed;
      z-index: -1;
      & .area{
          @include size(12.5%);
          transition: .1s;
          position: absolute;
          left: 0;top:0;
          @for $i from 1 to 9{ 
              &:nth-of-type(#{$i}){     
                  left: 12.5 * ($i - 1) * 1%;
                  z-index: 84-(4 * $i);
              }
          }
          &__wrapper{
              width: 0;
              height: 100%;
              background: -webkit-linear-gradient(90deg, rgb(46, 46, 52), rgb(23, 27, 31));
              background: linear-gradient(90deg, rgb(46, 46, 52), rgb(23, 27, 31));
              transition: 0.3s;
              & a{
                  display: none;
                  position: absolute;
                  top:50%; left: -100%;
                  transform: translate(-50%, -10vh);
                  width: 100%;
                  height: 20vh;
                  font-size: 1.5rem;
                  font-weight: bold;
                  transition: left .3s, font-size .3s;
                  color: #fff;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  z-index: 82;
              }
              & .redArea{
                  width: 0;
                  height: 20vh;
                  position: absolute;
                  z-index: 81;
                  top: 50%; left: 0;
                  background: #d70000;
                  transform: translateY(-50%);
                  mix-blend-mode: color;
                  transition: .1s;
              }
          }
      }
  }
}
//menu end


//footer
.footer{
  width: 12.5%;
  height: 10vh;
  position: absolute;
  bottom: 40px;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 1s cubic-bezier(0.22, 1, 0.36, 1);
  & .git{
      @include button_reset();
      width: 30px;
      height: 30px;
      @include bg_center('../img/social-media.png');
  }
  & .resume{
      display: flex;
      align-items: center;
      color: rgba(255,255,255,0.8);
      font-size: 0.9rem;
      & img{
          width: 15px;
          margin-left: 5px;
      }
  }
  & p{
      color: rgba(255,255,255,0.5);
      font-size: 0.5rem;
  }
}
//footer end
