@import "_common";

.wrapper{
    @include size(100%);
    position: relative;
    overflow: hidden;
}
.pic{
    &__left{
        position: absolute;
        bottom: 0; left: 0;
        z-index: 40;
        width: 18%;
        display: flex;
        flex-direction: column;
        animation: picSlide01 30s 2.5s infinite linear;
        transform: translateY(-100%);
        transition: transform 1s;
        & li{
            margin: 20px 0 0 5%; 
            width: 90%;
            height: 22vw;
            &:after{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.6);
            }
            &:nth-of-type(1){
                @include bg_center('../img/pic/portfolio.png');
            }
            &:nth-of-type(2){
                @include bg_center('../img/pic/bml02.png');
            }
            &:nth-of-type(3){
                @include bg_center('../img/pic/zara01.png');
            }
            &:nth-of-type(4){
                @include bg_center('../img/pic/portfolio.png');
            }
            &:nth-of-type(5){
                @include bg_center('../img/pic/bml02.png');
            }
            &:nth-of-type(6){
                @include bg_center('../img/pic/zara01.png');
            }
        }
    }
    &__right{
        position: absolute;
        top: 0; left: 18%;
        z-index: 40;
        width: 18%;
        display: flex;
        flex-direction: column;
        animation: picSlide02 30s 2.5s infinite linear;
        transform: translateY(100%);
        transition: transform 1s;
        & li{
            margin-top: 20px;
            width: 90%;
            height: 22vw;
            &:after{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.6);
            }
            &:nth-of-type(1){
                @include bg_center('../img/pic/zara03.png');
            }
            &:nth-of-type(2){
                @include bg_center('../img/pic/korea01.png');
            }
            &:nth-of-type(3){
                @include bg_center('../img/pic/bml01.png');
            }
            &:nth-of-type(4){
                @include bg_center('../img/pic/zara03.png');
            }
            &:nth-of-type(5){
                @include bg_center('../img/pic/korea01.png');
            }
            &:nth-of-type(6){
                @include bg_center('../img/pic/bml01.png');
            }
        }
    }
}
@keyframes picSlide01{
    0%{
        bottom: 0;
    }
    100%{
        bottom: -125.7%;
    }
}
@keyframes picSlide02{
    0%{
        top: 0;
    }
    100%{
        top: -125.7%;
    }
}

.about{
    position: absolute;
    top: 0;
    right: 14%;
    width: 50%;
    height: 100vh;
    z-index: 40;
    &__title{
        & p{
            color: rgba(255,255,255,0.8);
            font-size: 2rem;
            font-weight: 100;
            position: absolute;
            top: 6%;
            right: 15%;
            opacity: 0;
            transition: 1s cubic-bezier(0.22, 1, 0.36, 1);
        }
        & h3{
            color: rgba(255,255,255,0.9);
            font-size: 4rem;
            font-weight: bold;
            position: absolute;
            top: 10%;
            right: 15%;
            z-index: 2;
            letter-spacing: .2rem;
            opacity: 0;
            transition: 1s cubic-bezier(0.22, 1, 0.36, 1);
        }
        & span{
            display: block;
            width: 3%;
            height: 20px;
            background: #d70000;
            position: absolute;
            top: -10%;
            right: 73%;
            z-index: 1;
            transition: 1s cubic-bezier(0.22, 1, 0.36, 1);
        }
    }
    &__spec{
        &__title{
           display: flex;
           flex-direction: column;
           position: absolute;
           top: 30%;
           right: 73%;
           & strong{
               color: rgba(255,255,255,0.9);
               font-size: 1.5rem;
               font-weight: bold;
               text-align: left;
               margin-bottom: 2.5rem;
               opacity: 0;
               transition: 2s cubic-bezier(0.22, 1, 0.36, 1);
               &:nth-of-type(1){
                margin-bottom: 4rem;
               }
               &:nth-of-type(2){
                margin-bottom: 4rem;
               }
           }
        }
        &__hardSkils{
            & span{
                display: block;
                width: 12px;
                height: 12px;
                background: rgb(46, 46, 52);
                border: 3px solid #d70000;
                border-radius: 100%;
                position: absolute;
                z-index: 3;
                top: 30.7%;
                right: 65%;
                opacity: 0;
                transition: .5s;
            }
            & p{
                color: rgba(255,255,255,0.8);
                position: absolute;
                z-index: 3;
                top: 32.7%;
                right: 65%;
                opacity: 0;
                transition: .5s;
                transform: translateX(30%);
                font-weight: 100;
            }
            & .line{
                display: block;
                width: 0;
                height: 2px;
                background: #d70000;
                border:none;
                position: absolute;
                z-index: 2;
                border-radius: 0;
                top: 31.1%;
                left: 35%;
                opacity: 1;
                transition: .5s;
            }
        }
        &__softSkils{
            & span{
                display: block;
                width: 12px;
                height: 12px;
                background: rgb(46, 46, 52);
                border: 3px solid #d70000;
                border-radius: 100%;
                position: absolute;
                z-index: 3;
                top: 39%;
                right: 65%;
                opacity: 0;
                transition: .5s;
            }
            & p{
                color: rgba(255,255,255,0.8);
                position: absolute;
                z-index: 3;
                top: 41%;
                right: 65%;
                opacity: 0;
                transition: .5s;
                transform: translateX(30%);
                font-weight: 100;
            }
            & .line{
                display: block;
                width: 0;
                height: 2px;
                background: #d70000;
                border:none;
                position: absolute;
                z-index: 2;
                border-radius: 0;
                top: 39.4%;
                left: 35%;
                opacity: 1;
                transition: .5s;
            }
        }
        &__edu{
            position: absolute;
            top: 46.5%;
            left: 32.2%;
            opacity: 1;
            transition: .5s;
            display: flex;
            & p{
                color: rgba(255,255,255,0.8);
                font-weight: 100;
                line-height: 1.2rem;
                margin-right: 40px;
                letter-spacing: 0.05rem;
                opacity: 0;
                transition: .5s;
            }
        }
        &__career{
            position: absolute;
            top: 53%;
            left: 32.2%;
            opacity: 1;
            transition: .5s;
            display: flex;
            & p{
                color: rgba(255,255,255,0.8);
                font-weight: 100;
                line-height: 1.2rem;
                margin-right: 40px;
                letter-spacing: 0.05rem;
                opacity: 0;
                transition: .5s;
            }
        }
        &__qualification{
            position: absolute;
            top: 59%;
            left: 32.2%;
            opacity: 1;
            transition: .5s;
            display: flex;
            & p{
                color: rgba(255,255,255,0.8);
                font-weight: 100;
                line-height: 1.2rem;
                margin-right: 40px;
                letter-spacing: 0.05rem;
                opacity: 0;
                transition: .5s;
            }
        }
        &__github{
            position: absolute;
            top: 65%;
            left: 32.2%;
            opacity: 1;
            transition: .5s;
            display: flex;
            & p{
                color: rgba(255,255,255,0.8);
                font-weight: 100;
                line-height: 1.2rem;
                margin-right: 40px;
                letter-spacing: 0.05rem;
                opacity: 0;
                transition: .5s;
            }
        }
    }
}
.askBox{
    position: absolute;
    bottom: -250px;
    right: 18.7%;
    width: 40%;
    z-index: 40;
    opacity: 0;
    display: flex;
    flex-direction: column;
        & div{
            width: 100%;
            height: 150px;
            &:nth-of-type(2){
                opacity: 0;
            }
            &:nth-of-type(3){
                opacity: 0;
            }
        }
        & h4{
            color: #d70000;
            font-size: 2rem;
            font-weight: bold;
            margin-right: 10px;
            margin-bottom: 20px;
            display: inline-block;
        }
        & strong{
            font-size: 1.2rem;
            font-weight: bold;
            color: rgba(255,255,255,0.8);
            margin-bottom: 20px;
        }
        & p{ 
            font-size: 0.9rem;
            line-height: 1.3rem;
            color: rgba(255,255,255,0.8);
            text-align: right;
            font-weight: 100;
            margin-bottom: 10px;
        }
}
    

.background{
    @include size(100%);
    position: relative;
    display: flex;
    & .area{
        @include size(12.5%);
        transition: .1s;
        position: absolute;
        left: 0;top:0;
        overflow: hidden;
        @for $i from 1 to 9{ 
            &:nth-of-type(#{$i}){     
                left: 12.5 * ($i - 1) * 1%;
                z-index: 34-(4 * $i);
            }
        }
        &__wrapper{
            width: 100%;
            height: 100%;
            background: -webkit-linear-gradient(90deg, rgb(46, 46, 52), rgb(23, 27, 31));
            background: linear-gradient(90deg, rgb(46, 46, 52), rgb(23, 27, 31));
            transition: 0.3s;
        }
    }
    & h3{
        position: absolute;
        top: -5%; right: 6.25%;
        transform: translateX(50%);
        z-index: 100;
        font-weight: bold;
        font-size: 1.2rem;
        color: rgba(255,255,255,0.9);
        transition:1s cubic-bezier(0.22, 1, 0.36, 1); 
    }
}
