/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;562;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Noto+Sans:400,400i,700,700i&display=swap&subset=korean");
/* font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif; 
font-family: 'Dancing Script', cursive;*/
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  color: #111;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Noto Sans KR', sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

html.search {
  position: fixed;
  overflow: hidden; }

.wrap {
  position: relative; }

.wrap.search {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

::selection {
  background: #d70000; }

.menu h3 {
  position: absolute;
  top: -5%;
  right: 6.25%;
  transform: translateX(50%);
  z-index: 100;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.9);
  transition: 1s cubic-bezier(0.22, 1, 0.36, 1); }
.menu__button {
  position: absolute;
  z-index: 5;
  right: 25%;
  top: 50%;
  transform: translate(50%, -50%);
  opacity: 0;
  width: 30px;
  border: none;
  outline-style: none;
  cursor: pointer;
  background: none;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 1s cubic-bezier(0.22, 1, 0.36, 1); }
  .menu__button span {
    width: 18px;
    height: 3px;
    background: #fff;
    transition: 0.3s cubic-bezier(0.22, 1, 0.36, 1); }
    .menu__button span:nth-of-type(2) {
      width: 30px; }
  .menu__button.open span:nth-of-type(1) {
    width: 30px;
    transform: rotate(45deg) translateY(17px); }
  .menu__button.open span:nth-of-type(2) {
    width: 0; }
  .menu__button.open span:nth-of-type(3) {
    width: 30px;
    transform: rotate(-45deg) translateY(-17px); }
.menu__background {
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  z-index: -1; }
  .menu__background .area {
    width: 12.5%;
    height: 100vh;
    transition: .1s;
    position: absolute;
    left: 0;
    top: 0; }
    .menu__background .area:nth-of-type(1) {
      left: 0%;
      z-index: 80; }
    .menu__background .area:nth-of-type(2) {
      left: 12.5%;
      z-index: 76; }
    .menu__background .area:nth-of-type(3) {
      left: 25%;
      z-index: 72; }
    .menu__background .area:nth-of-type(4) {
      left: 37.5%;
      z-index: 68; }
    .menu__background .area:nth-of-type(5) {
      left: 50%;
      z-index: 64; }
    .menu__background .area:nth-of-type(6) {
      left: 62.5%;
      z-index: 60; }
    .menu__background .area:nth-of-type(7) {
      left: 75%;
      z-index: 56; }
    .menu__background .area:nth-of-type(8) {
      left: 87.5%;
      z-index: 52; }
    .menu__background .area__wrapper {
      width: 0;
      height: 100%;
      background: -webkit-linear-gradient(90deg, #2e2e34, #171b1f);
      background: linear-gradient(90deg, #2e2e34, #171b1f);
      transition: 0.3s; }
      .menu__background .area__wrapper a {
        display: none;
        position: absolute;
        top: 50%;
        left: -100%;
        transform: translate(-50%, -10vh);
        width: 100%;
        height: 20vh;
        font-size: 1.5rem;
        font-weight: bold;
        transition: left .3s, font-size .3s;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 82; }
      .menu__background .area__wrapper .redArea {
        width: 0;
        height: 20vh;
        position: absolute;
        z-index: 81;
        top: 50%;
        left: 0;
        background: #d70000;
        transform: translateY(-50%);
        mix-blend-mode: color;
        transition: .1s; }

.footer {
  width: 12.5%;
  height: 10vh;
  position: absolute;
  bottom: 40px;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 1s cubic-bezier(0.22, 1, 0.36, 1); }
  .footer .git {
    border: none;
    outline-style: none;
    cursor: pointer;
    background: none;
    width: 30px;
    height: 30px;
    background: url("../img/social-media.png") no-repeat center/cover; }
  .footer__resume {
    display: flex;
    align-items: center; }
    .footer__resume p {
      color: rgba(255, 255, 255, 0.8);
      font-size: 0.9rem; }
    .footer__resume a {
      display: block;
      width: 15px;
      height: 15px;
      margin-left: 5px;
      background: url(../img/archive.png) no-repeat center/cover; }
  .footer p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.5rem; }

@media all and (min-width: 768px) and (max-width: 1023px) {
  .menu h3 {
    position: absolute;
    top: -5%;
    right: 12.5%;
    transform: translateX(50%);
    z-index: 100;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.9);
    transition: 1s cubic-bezier(0.22, 1, 0.36, 1); }
  .menu__button {
    position: absolute;
    z-index: 100;
    right: 25%;
    top: 10%;
    transform: translate(50%, -50%);
    opacity: 0;
    border: none;
    outline-style: none;
    cursor: pointer;
    background: none;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 1s cubic-bezier(0.22, 1, 0.36, 1); }
    .menu__button span {
      width: 30px;
      height: 3px;
      background: #fff;
      transition: 0s cubic-bezier(0.22, 1, 0.36, 1); }
    .menu__button.open span {
      transition: 0.3s cubic-bezier(0.22, 1, 0.36, 1); }
      .menu__button.open span:nth-of-type(1) {
        width: 30px;
        transform: rotate(45deg) translateY(19px); }
      .menu__button.open span:nth-of-type(2) {
        width: 0; }
      .menu__button.open span:nth-of-type(3) {
        width: 30px;
        transform: rotate(-45deg) translateY(-17px); }
  .menu__background {
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: -1; }
    .menu__background .area {
      width: 25%;
      height: 100vh;
      transition: .1s;
      position: absolute;
      left: 0;
      top: 0; }
      .menu__background .area:nth-of-type(1) {
        left: -50%;
        z-index: 80; }
      .menu__background .area:nth-of-type(2) {
        left: -25%;
        z-index: 76; }
      .menu__background .area:nth-of-type(3) {
        left: 0%;
        z-index: 72; }
      .menu__background .area:nth-of-type(4) {
        left: 25%;
        z-index: 68; }
      .menu__background .area:nth-of-type(5) {
        left: 50%;
        z-index: 64; }
      .menu__background .area:nth-of-type(6) {
        left: 75%;
        z-index: 60; }
      .menu__background .area:nth-of-type(7) {
        left: 100%;
        z-index: 56; }
      .menu__background .area:nth-of-type(8) {
        left: 125%;
        z-index: 52; }
      .menu__background .area__wrapper {
        width: 0;
        height: 100%;
        background: -webkit-linear-gradient(90deg, #2e2e34, #171b1f);
        background: linear-gradient(90deg, #2e2e34, #171b1f);
        transition: 0.3s; }
        .menu__background .area__wrapper a {
          display: none;
          position: absolute;
          top: 50%;
          left: -100%;
          transform: translate(-50%, -10vh);
          width: 100%;
          height: 20vh;
          font-size: 1.5rem;
          font-weight: bold;
          transition: left .3s, font-size .3s;
          color: #fff;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          z-index: 82; }
        .menu__background .area__wrapper .redArea {
          width: 0;
          height: 20vh;
          position: absolute;
          z-index: 81;
          top: 50%;
          left: 0;
          background: #d70000;
          transform: translateY(-50%);
          mix-blend-mode: color;
          transition: .1s; }

  .footer {
    width: 25%;
    height: 10vh;
    position: absolute;
    bottom: 40px;
    right: 0;
    z-index: 100;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 1s cubic-bezier(0.22, 1, 0.36, 1); }
    .footer .git {
      border: none;
      outline-style: none;
      cursor: pointer;
      background: none;
      width: 30px;
      height: 30px;
      background: url("../img/social-media.png") no-repeat center/cover; }
    .footer__resume {
      display: flex;
      align-items: center; }
      .footer__resume p {
        color: rgba(255, 255, 255, 0.8);
        font-size: 0.9rem; }
      .footer__resume a {
        display: block;
        width: 15px;
        height: 15px;
        margin-left: 5px;
        background: url(../img/archive.png) no-repeat center/cover; }
    .footer p {
      color: rgba(255, 255, 255, 0.5);
      font-size: 0.5rem; } }
@media all and (max-width: 768px) {
  .menu h3 {
    position: absolute;
    top: -5%;
    right: 12.5%;
    transform: translateX(50%);
    z-index: 100;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.9);
    transition: 1s cubic-bezier(0.22, 1, 0.36, 1); }
  .menu__button {
    position: absolute;
    z-index: 100;
    right: 25%;
    top: 10%;
    transform: translate(50%, -50%);
    opacity: 0;
    border: none;
    outline-style: none;
    cursor: pointer;
    background: none;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 1s cubic-bezier(0.22, 1, 0.36, 1); }
    .menu__button span {
      width: 30px;
      height: 3px;
      background: #fff;
      transition: 0s cubic-bezier(0.22, 1, 0.36, 1); }
    .menu__button.open span {
      transition: 0.3s cubic-bezier(0.22, 1, 0.36, 1); }
      .menu__button.open span:nth-of-type(1) {
        width: 30px;
        transform: rotate(45deg) translateY(19px); }
      .menu__button.open span:nth-of-type(2) {
        width: 0; }
      .menu__button.open span:nth-of-type(3) {
        width: 30px;
        transform: rotate(-45deg) translateY(-17px); }
  .menu__background {
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: -1; }
    .menu__background .area {
      width: 25%;
      height: 100vh;
      transition: .1s;
      position: absolute;
      left: 0;
      top: 0; }
      .menu__background .area:nth-of-type(1) {
        left: -50%;
        z-index: 80; }
      .menu__background .area:nth-of-type(2) {
        left: -25%;
        z-index: 76; }
      .menu__background .area:nth-of-type(3) {
        left: 0%;
        z-index: 72; }
      .menu__background .area:nth-of-type(4) {
        left: 25%;
        z-index: 68; }
      .menu__background .area:nth-of-type(5) {
        left: 50%;
        z-index: 64; }
      .menu__background .area:nth-of-type(6) {
        left: 75%;
        z-index: 60; }
      .menu__background .area:nth-of-type(7) {
        left: 100%;
        z-index: 56; }
      .menu__background .area:nth-of-type(8) {
        left: 125%;
        z-index: 52; }
      .menu__background .area__wrapper {
        width: 0;
        height: 100%;
        background: -webkit-linear-gradient(90deg, #2e2e34, #171b1f);
        background: linear-gradient(90deg, #2e2e34, #171b1f);
        transition: 0.3s; }
        .menu__background .area__wrapper a {
          display: none;
          position: absolute;
          top: 50%;
          left: -100%;
          transform: translate(-50%, -10vh);
          width: 100%;
          height: 20vh;
          font-size: 1.5rem;
          font-weight: bold;
          transition: left .3s, font-size .3s;
          color: #fff;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          z-index: 82; }
        .menu__background .area__wrapper .redArea {
          width: 0;
          height: 20vh;
          position: absolute;
          z-index: 81;
          top: 50%;
          left: 0;
          background: #d70000;
          transform: translateY(-50%);
          mix-blend-mode: color;
          transition: .1s; }

  .footer {
    width: 25%;
    height: 10vh;
    position: absolute;
    bottom: 40px;
    right: 0;
    z-index: 100;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 1s cubic-bezier(0.22, 1, 0.36, 1); }
    .footer .git {
      border: none;
      outline-style: none;
      cursor: pointer;
      background: none;
      width: 30px;
      height: 30px;
      background: url("../img/social-media.png") no-repeat center/cover; }
    .footer__resume {
      display: flex;
      align-items: center; }
      .footer__resume p {
        color: rgba(255, 255, 255, 0.8);
        font-size: 0.9rem; }
      .footer__resume a {
        display: block;
        width: 15px;
        height: 15px;
        margin-left: 5px;
        background: url(../img/archive.png) no-repeat center/cover; }
    .footer p {
      color: rgba(255, 255, 255, 0.5);
      font-size: 0.5rem; } }
.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }

.leftTab {
  width: 25%;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 40;
  transform: translateY(-50%);
  opacity: 0;
  transition: 1.5s cubic-bezier(0.22, 1, 0.36, 1);
  background: url("../img/contact.jpg") no-repeat center/cover; }
  .leftTab:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: #333;
    opacity: 0.5; }

.main {
  width: 62.5%;
  height: 100vh;
  position: absolute;
  z-index: 50;
  left: 25%;
  opacity: 0;
  transition: 1.5s cubic-bezier(0.22, 1, 0.36, 1); }
  .main__title {
    width: 57%;
    margin: 10% auto 0;
    display: flex;
    align-items: flex-end; }
    .main__title h3 {
      font-size: 5rem;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.9); }
      .main__title h3 span {
        display: block;
        margin-top: -15px;
        margin-left: 15px;
        width: 95%;
        height: 20px;
        background: #d70000; }
    .main__title p {
      margin-left: 10px;
      color: rgba(255, 255, 255, 0.9);
      font-weight: 100;
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: 0.1rem; }
  .main__info {
    width: 57%;
    margin: 5% auto 0;
    display: flex;
    flex-direction: column; }
    .main__info__name {
      display: flex;
      align-items: flex-end; }
      .main__info__name h4 {
        font-size: 1.5rem;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.9);
        letter-spacing: 0.1rem; }
      .main__info__name strong {
        margin-left: 5px;
        font-size: 1.2rem;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.9);
        letter-spacing: 0.1rem; }
    .main__info__etc {
      margin-top: 15px;
      display: flex;
      align-items: flex-end; }
      .main__info__etc strong {
        font-size: 1.2rem;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.9);
        letter-spacing: 0.1rem; }
      .main__info__etc p {
        margin-left: 5px;
        font-size: 1.2rem;
        font-weight: 100;
        color: rgba(255, 255, 255, 0.9);
        letter-spacing: 0.1rem; }
      .main__info__etc strong:nth-of-type(2) {
        margin-left: 40px; }
  .main__contact {
    width: 57%;
    margin: 3% auto 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .main__contact div {
      width: 100%;
      display: flex;
      align-items: flex-start;
      border-bottom: 1px solid rgba(255, 255, 255, 0.7);
      padding-bottom: 10px;
      margin-top: 20px; }
      .main__contact div p {
        margin-left: 5px;
        font-size: 0.9rem;
        font-weight: 100;
        color: rgba(255, 255, 255, 0.9);
        letter-spacing: 0.1rem;
        line-height: 1.5rem;
        white-space: nowrap; }
      .main__contact div span {
        margin-right: -10px;
        width: 0px;
        height: 10px;
        background: #d70000;
        transition: .3s ease; }
        .main__contact div span.selected {
          width: 10px; }
      .main__contact div input {
        background: none;
        width: 90%;
        margin-left: 10px;
        height: 30px;
        color: rgba(255, 255, 255, 0.9);
        border: none;
        outline: none;
        font-size: 1rem;
        line-height: 1.4rem;
        letter-spacing: 0.05rem; }
    .main__contact__mail input {
      width: 85%; }
    .main__contact__content textarea {
      background: none;
      width: 90%;
      margin-left: 10px;
      height: 350px;
      color: rgba(255, 255, 255, 0.9);
      border: none;
      outline: none;
      resize: none;
      font-size: 1rem;
      font-weight: 100;
      line-height: 1.4rem;
      letter-spacing: 0.05rem;
      transition: 1.5s cubic-bezier(0.22, 1, 0.36, 1); }
      .main__contact__content textarea.selected {
        width: 0; }
    .main__contact__send {
      margin-top: 15px;
      border: none;
      outline-style: none;
      cursor: pointer;
      background: none;
      color: #d70000;
      font-weight: 100;
      font-size: 1.3rem;
      border-bottom: 1px solid #d70000;
      width: max-content; }

.background {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex; }
  .background .area {
    width: 12.5%;
    height: 100vh;
    transition: .1s;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden; }
    .background .area:nth-of-type(1) {
      left: 0%;
      z-index: 30; }
    .background .area:nth-of-type(2) {
      left: 12.5%;
      z-index: 26; }
    .background .area:nth-of-type(3) {
      left: 25%;
      z-index: 22; }
    .background .area:nth-of-type(4) {
      left: 37.5%;
      z-index: 18; }
    .background .area:nth-of-type(5) {
      left: 50%;
      z-index: 14; }
    .background .area:nth-of-type(6) {
      left: 62.5%;
      z-index: 10; }
    .background .area:nth-of-type(7) {
      left: 75%;
      z-index: 6; }
    .background .area:nth-of-type(8) {
      left: 87.5%;
      z-index: 2; }
    .background .area__wrapper {
      width: 100%;
      height: 100%;
      background: -webkit-linear-gradient(90deg, #2e2e34, #171b1f);
      background: linear-gradient(90deg, #2e2e34, #171b1f);
      transition: 0.3s; }
  .background h3 {
    position: absolute;
    top: 5.1%;
    right: 6.25%;
    transform: translateX(50%);
    z-index: 100;
    font-weight: bold;
    font-size: 1.2rem;
    opacity: 0;
    color: rgba(255, 255, 255, 0.9);
    transition: 1s cubic-bezier(0.22, 1, 0.36, 1); }
  .background button {
    border: none;
    outline-style: none;
    cursor: pointer;
    background: none;
    position: absolute;
    top: 5%;
    right: 9.8%;
    transform: translateX(50%);
    z-index: 100;
    width: 25px;
    height: 25px;
    background: url("../img/next.png") no-repeat center/cover;
    transform: rotate(180deg);
    transition: 1s cubic-bezier(0.22, 1, 0.36, 1);
    opacity: 0; }
    .background button:nth-of-type(2) {
      top: 5%;
      right: 1.5%;
      transform: rotate(0); }

@media all and (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden; }

  .leftTab {
    width: 25%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 40;
    transform: translateY(-50%);
    opacity: 0;
    transition: 1.5s cubic-bezier(0.22, 1, 0.36, 1);
    display: none;
    background: url("../img/contact.jpg") no-repeat center/cover; }
    .leftTab:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background: #333;
      opacity: 0.5; }

  .main {
    width: 87.5%;
    height: 100vh;
    position: absolute;
    z-index: 50;
    left: 4%;
    opacity: 0;
    transition: 1.5s cubic-bezier(0.22, 1, 0.36, 1); }
    .main__title {
      width: 57%;
      margin: 20% 0 0 5%;
      display: flex;
      align-items: flex-end; }
      .main__title h3 {
        font-size: 5rem;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.9); }
        .main__title h3 span {
          display: block;
          margin-top: -15px;
          margin-left: 15px;
          width: 95%;
          height: 20px;
          background: #d70000; }
      .main__title p {
        margin-left: 10px;
        color: rgba(255, 255, 255, 0.9);
        font-weight: 100;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.1rem;
        white-space: nowrap; }
    .main__info {
      width: 57%;
      margin: 5% 0 0 5%;
      display: flex;
      flex-direction: column; }
      .main__info__name {
        display: flex;
        align-items: flex-end; }
        .main__info__name h4 {
          font-size: 1.5rem;
          font-weight: bold;
          color: rgba(255, 255, 255, 0.9);
          letter-spacing: 0.1rem; }
        .main__info__name strong {
          margin-left: 5px;
          font-size: 1.2rem;
          font-weight: bold;
          color: rgba(255, 255, 255, 0.9);
          letter-spacing: 0.1rem; }
      .main__info__etc {
        margin-top: 15px;
        display: flex;
        align-items: flex-end; }
        .main__info__etc strong {
          font-size: 1.2rem;
          font-weight: bold;
          color: rgba(255, 255, 255, 0.9);
          letter-spacing: 0.1rem; }
        .main__info__etc p {
          margin-left: 5px;
          font-size: 1.2rem;
          font-weight: 100;
          color: rgba(255, 255, 255, 0.9);
          letter-spacing: 0.1rem; }
        .main__info__etc strong:nth-of-type(2) {
          margin-left: 40px; }
    .main__contact {
      width: 80%;
      margin: 3% 0 0 5%;
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
      .main__contact div {
        width: 100%;
        display: flex;
        align-items: flex-start;
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
        padding-bottom: 10px;
        margin-top: 20px; }
        .main__contact div p {
          margin-left: 5px;
          font-size: 0.9rem;
          font-weight: 100;
          color: rgba(255, 255, 255, 0.9);
          letter-spacing: 0.1rem;
          line-height: 1.5rem; }
        .main__contact div span {
          margin-right: -10px;
          width: 0px;
          height: 10px;
          background: #d70000;
          transition: .3s ease; }
          .main__contact div span.selected {
            width: 10px; }
        .main__contact div input {
          background: none;
          width: 90%;
          margin-left: 10px;
          height: 30px;
          color: rgba(255, 255, 255, 0.9);
          border: none;
          outline: none;
          font-size: 1rem;
          line-height: 1.4rem;
          letter-spacing: 0.05rem; }
      .main__contact__mail input {
        width: 85%; }
      .main__contact__content textarea {
        background: none;
        width: 90%;
        margin-left: 10px;
        height: 350px;
        color: rgba(255, 255, 255, 0.9);
        border: none;
        outline: none;
        resize: none;
        font-size: 1rem;
        font-weight: 100;
        line-height: 1.4rem;
        letter-spacing: 0.05rem;
        transition: 1.5s cubic-bezier(0.22, 1, 0.36, 1); }
        .main__contact__content textarea.selected {
          width: 0; }
      .main__contact__send {
        margin-top: 15px;
        border: none;
        outline-style: none;
        cursor: pointer;
        background: none;
        color: #d70000;
        font-weight: 100;
        font-size: 1.3rem;
        border-bottom: 1px solid #d70000;
        width: max-content; }

  .background {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex; }
    .background .area {
      width: 12.5%;
      height: 100vh;
      transition: .1s;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden; }
      .background .area:nth-of-type(1) {
        left: 0%;
        z-index: 30; }
      .background .area:nth-of-type(2) {
        left: 12.5%;
        z-index: 26; }
      .background .area:nth-of-type(3) {
        left: 25%;
        z-index: 22; }
      .background .area:nth-of-type(4) {
        left: 37.5%;
        z-index: 18; }
      .background .area:nth-of-type(5) {
        left: 50%;
        z-index: 14; }
      .background .area:nth-of-type(6) {
        left: 62.5%;
        z-index: 10; }
      .background .area:nth-of-type(7) {
        left: 75%;
        z-index: 6; }
      .background .area:nth-of-type(8) {
        left: 87.5%;
        z-index: 2; }
      .background .area__wrapper {
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(90deg, #2e2e34, #171b1f);
        background: linear-gradient(90deg, #2e2e34, #171b1f);
        transition: 0.3s; }
    .background h3 {
      position: absolute;
      top: 50%;
      right: 6.25%;
      transform: translate(50%, -50%) rotate(-90deg);
      z-index: 100;
      font-weight: bold;
      font-size: 2rem;
      opacity: 0;
      color: rgba(255, 255, 255, 0.9);
      transition: 1s cubic-bezier(0.22, 1, 0.36, 1); }
    .background button {
      border: none;
      outline-style: none;
      cursor: pointer;
      background: none;
      position: absolute;
      top: 60%;
      right: 4.25%;
      transform: translate(-50%, -50%);
      z-index: 100;
      width: 25px;
      height: 25px;
      background: url("../img/next.png") no-repeat center/cover;
      transform: rotate(180deg);
      transition: 1s cubic-bezier(0.22, 1, 0.36, 1); }
      .background button:nth-of-type(2) {
        top: 40%;
        right: 4.25%;
        transform: rotate(0); } }

/*# sourceMappingURL=contact.css.map */
