/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;562;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Noto+Sans:400,400i,700,700i&display=swap&subset=korean");
/* font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif; 
font-family: 'Dancing Script', cursive;*/
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  color: #111;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Noto Sans KR', sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

html.search {
  position: fixed;
  overflow: hidden; }

.wrap {
  position: relative; }

.wrap.search {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.menu h3 {
  position: absolute;
  top: -5%;
  right: 6.25%;
  transform: translateX(50%);
  z-index: 100;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.9);
  transition: 1s cubic-bezier(0.22, 1, 0.36, 1); }
.menu__button {
  position: absolute;
  z-index: 5;
  right: 25%;
  top: 50%;
  transform: translate(50%, -50%);
  border: none;
  outline-style: none;
  cursor: pointer;
  background: none;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 1s cubic-bezier(0.22, 1, 0.36, 1); }
  .menu__button span {
    width: 18px;
    height: 3px;
    background: #fff;
    transition: 0.3s cubic-bezier(0.22, 1, 0.36, 1); }
    .menu__button span:nth-of-type(2) {
      width: 30px; }
  .menu__button.open span:nth-of-type(1) {
    width: 30px;
    transform: rotate(45deg) translateY(18px); }
  .menu__button.open span:nth-of-type(2) {
    width: 0; }
  .menu__button.open span:nth-of-type(3) {
    width: 30px;
    transform: rotate(-45deg) translateY(-17px); }
.menu__background {
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  z-index: -1; }
  .menu__background .area {
    width: 12.5%;
    height: 100vh;
    transition: .1s;
    position: absolute;
    left: 0;
    top: 0; }
    .menu__background .area:nth-of-type(1) {
      left: 0%;
      z-index: 80; }
    .menu__background .area:nth-of-type(2) {
      left: 12.5%;
      z-index: 76; }
    .menu__background .area:nth-of-type(3) {
      left: 25%;
      z-index: 72; }
    .menu__background .area:nth-of-type(4) {
      left: 37.5%;
      z-index: 68; }
    .menu__background .area:nth-of-type(5) {
      left: 50%;
      z-index: 64; }
    .menu__background .area:nth-of-type(6) {
      left: 62.5%;
      z-index: 60; }
    .menu__background .area:nth-of-type(7) {
      left: 75%;
      z-index: 56; }
    .menu__background .area:nth-of-type(8) {
      left: 87.5%;
      z-index: 52; }
    .menu__background .area__wrapper {
      width: 0;
      height: 100%;
      background: -webkit-linear-gradient(90deg, #2e2e34, #171b1f);
      background: linear-gradient(90deg, #2e2e34, #171b1f);
      transition: 0.3s; }
      .menu__background .area__wrapper a {
        display: none;
        position: absolute;
        top: 50%;
        left: -100%;
        transform: translate(-50%, -10vh);
        width: 100%;
        height: 20vh;
        font-size: 1.5rem;
        font-weight: bold;
        transition: left .3s, font-size .3s;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 82; }
      .menu__background .area__wrapper .redArea {
        width: 0;
        height: 20vh;
        position: absolute;
        z-index: 81;
        top: 50%;
        left: 0;
        background: #d70000;
        transform: translateY(-50%);
        mix-blend-mode: color;
        transition: .1s; }

.footer {
  width: 12.5%;
  height: 10vh;
  position: absolute;
  bottom: 40px;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 1s cubic-bezier(0.22, 1, 0.36, 1); }
  .footer .git {
    border: none;
    outline-style: none;
    cursor: pointer;
    background: none;
    width: 30px;
    height: 30px;
    background: url("../img/social-media.png") no-repeat center/cover; }
  .footer .resume {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.9rem; }
    .footer .resume img {
      width: 15px;
      margin-left: 5px; }
  .footer p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.5rem; }

::selection {
  background: #d70000; }

.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }

.leftTab {
  width: 12.5%;
  position: absolute;
  top: 50%;
  left: -3%;
  z-index: 40;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: 1.5s cubic-bezier(0.22, 1, 0.36, 1); }
  .leftTab__listBtn {
    border: none;
    outline-style: none;
    cursor: pointer;
    background: none;
    display: flex;
    flex-wrap: wrap;
    width: 42px;
    height: 30px;
    margin-bottom: 10px; }
    .leftTab__listBtn span {
      width: 7px;
      height: 7px;
      background: rgba(255, 255, 255, 0.5);
      margin-right: 3px;
      margin-bottom: 3px; }
  .leftTab > span {
    margin: 10px 0;
    width: 1px;
    height: 300px;
    background: rgba(255, 255, 255, 0.3); }
  .leftTab p {
    color: rgba(255, 255, 255, 0.3);
    margin: 20px 0;
    transform: rotate(-90deg);
    font-size: 0.9rem;
    font-weight: 400;
    transition: 1.5s cubic-bezier(0.22, 1, 0.36, 1); }
    .leftTab p.selected {
      color: #d70000;
      font-weight: bold; }
    .leftTab p:last-of-type {
      margin: 40px 0; }
  .leftTab__number {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; }
    .leftTab__number b {
      font-size: 0.9rem;
      color: rgba(255, 255, 255, 0.7);
      transition: 1.5s cubic-bezier(0.22, 1, 0.36, 1); }
    .leftTab__number i {
      font-size: 0.7rem;
      color: rgba(255, 255, 255, 0.7); }

.main {
  width: 30%;
  height: 100vh;
  position: absolute;
  z-index: 50;
  left: 7.5%;
  opacity: 0;
  transition: 1.5s cubic-bezier(0.22, 1, 0.36, 1); }
  .main__wrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 40;
    transform: translate(-50%, -50%);
    transition: 1s cubic-bezier(0.22, 1, 0.36, 1); }
  .main__img {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 40;
    width: 80%;
    height: 60%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.5s cubic-bezier(0.65, 0, 0.35, 1);
    filter: grayscale(1) brightness(30%) opacity(60%); }
    .main__img.img01 {
      background: url("../img/pic_main/zara01.jpg") no-repeat center/cover; }
    .main__img.img02 {
      top: 125%;
      background: url("../img/pic_main/bml01.jpg") no-repeat center/cover; }
    .main__img.img03 {
      top: 200%;
      background: url("../img/pic_main/korea01.jpg") no-repeat center/cover; }
    .main__img.img04 {
      top: 275%;
      background: url("../img/pic_main/zara01.jpg") no-repeat center/cover; }
    .main__img.selected {
      transform: translate(-50%, -50%) scale(1.3);
      filter: brightness(110%); }
  .main__title {
    position: absolute;
    z-index: 60;
    color: #fff;
    font-size: 12rem;
    font-weight: bold;
    top: 15%;
    left: 80%;
    opacity: 0;
    transition: 1.5s cubic-bezier(0.22, 1, 0.36, 1); }

.contents {
  width: 30%;
  height: 100vh;
  position: absolute;
  z-index: 40;
  top: 35%;
  left: 35%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: 1.5s cubic-bezier(0.22, 1, 0.36, 1); }
  .contents strong {
    position: absolute;
    z-index: 20;
    color: #fff;
    font-weight: 1.2rem; }
  .contents span {
    position: absolute;
    top: 1%;
    left: -15%;
    z-index: 10;
    display: block;
    width: 35%;
    height: 0.9rem;
    background: #d70000; }
  .contents__date {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2rem;
    font-weight: 100;
    margin-bottom: 5%;
    line-height: 1.2rem;
    margin-top: 10%; }
  .contents__text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 5%;
    line-height: 1.5rem; }
  .contents__func {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 5%;
    line-height: 1.5rem; }
  .contents__cross {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 5%; }
  .contents__skill {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 10%; }
  .contents a {
    font-size: 1.2rem;
    position: relative;
    width: max-content;
    display: block;
    color: #d70000; }
    .contents a:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -30%;
      width: 100%;
      height: 1px;
      background: #d70000; }

.backNum {
  position: absolute;
  z-index: 39;
  top: 50%;
  left: 35%;
  transform: translateY(-50%);
  opacity: 0;
  transition: 1.5s cubic-bezier(0.22, 1, 0.36, 1);
  display: flex;
  align-items: center;
  font-size: 50rem;
  letter-spacing: -3rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.04);
  width: 30%;
  height: 100vh; }

.background {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex; }
  .background .area {
    width: 12.5%;
    height: 100vh;
    transition: .1s;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden; }
    .background .area:nth-of-type(1) {
      left: 0%;
      z-index: 30; }
    .background .area:nth-of-type(2) {
      left: 12.5%;
      z-index: 26; }
    .background .area:nth-of-type(3) {
      left: 25%;
      z-index: 22; }
    .background .area:nth-of-type(4) {
      left: 37.5%;
      z-index: 18; }
    .background .area:nth-of-type(5) {
      left: 50%;
      z-index: 14; }
    .background .area:nth-of-type(6) {
      left: 62.5%;
      z-index: 10; }
    .background .area:nth-of-type(7) {
      left: 75%;
      z-index: 6; }
    .background .area:nth-of-type(8) {
      left: 87.5%;
      z-index: 2; }
    .background .area__wrapper {
      width: 100%;
      height: 100%;
      background: -webkit-linear-gradient(90deg, #2e2e34, #171b1f);
      background: linear-gradient(90deg, #2e2e34, #171b1f);
      transition: 0.3s; }
  .background h3 {
    position: absolute;
    top: -5%;
    right: 6.25%;
    transform: translateX(50%);
    z-index: 100;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.9);
    transition: 1s cubic-bezier(0.22, 1, 0.36, 1); }

/*# sourceMappingURL=project.css.map */
