@import "_common";

@mixin item_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin button_reset {
    border: none;
    outline-style: none;
    cursor: pointer;
    background: none;
}
@mixin bg_center($arg1){
    background: url($arg1) no-repeat center / cover;
}

.wrapper{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.play{
    @include button_reset();
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #ed924e;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}
.background{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}
.area{
    width: 12.5%;
    height: 0;
    border-left: 1px solid #555;
    transition: .1s;
    position: absolute;
    left: 0;top:0;
    &:nth-of-type(1){
        left: 0;
        z-index: 30;
    }
    &:nth-of-type(2){
        left: 12.5%;
        z-index: 26;
    }
    &:nth-of-type(3){
        left: 25%;
        z-index: 22;
    }
    &:nth-of-type(4){
        left: 37.5%;
        z-index: 18;
    }
    &:nth-of-type(5){
        left: 50%;
        z-index: 14;
    }
    &:nth-of-type(6){
        left: 62.5%;
        z-index: 10;
    }
    &:nth-of-type(7){
        left: 75%;
        z-index: 6;
    }
    &:nth-of-type(8){
        left: 87.5%;
        z-index: 2;
    }
    &:first-child{
        border-left: none;
    }
    &__wrapper{
        width: 0;
        height: 100%;
        background: #333;
        transition: 0.3s;
    }
}
.title{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    position: absolute;
    left: -10%; top: 50%;
    transform: translateY(-50%);
    transition: 1s;
    z-index: 27;
    & h2{
        font-size: 3rem;
        font-weight: bold;
        color: #fff;
    }
    & p{
        display: flex;
        font-size: 1.5rem;
        font-weight: bold;
        color: #fff;
        &:before{
            content: '';
            margin-right: 10px;
            margin-left: 5px;
            display: block;
            height: 1.5rem;
            width: 5px;
            background: #ed924e;
        }
    }
}
.menu{
    position: absolute;
    z-index: 3;
    right: 15%; top: 50%;
    transform: translateY(-50%);
    display: none;
    transition: 1s;
    &__button{
        @include button_reset();
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translateX(-50%);
            & span{
                width: 18px;
                height: 5px;
                background: #ed924e;
                &:nth-of-type(2){
                    width: 30px;
                }
            }
    }
    &__title{
        color:#ed924e;
        transform: rotate(270deg);
    }
}
// .circle01{
//     width: 600px;
//     height: 600px;
//     border-radius: 100%;
//     position: absolute;
//     left: 5%; top: 50%;
//     z-index: 18;
//     transform: translateY(-50%);
//     background: none;
//     border: none
// }
// .circle02{
//     width: 600px;
//     height: 600px;
//     border-radius: 100%;
//     position: absolute;
//     left: 33.5%; top: 90%;
//     z-index: 18;
//     transform: translateY(-50%);
//     background: none;
//     border: none
// }

.menuOpen{
    display: none;
    & a{
        position: absolute;
        width: 12.5%;
        height: 100vh;
        font-size: 2rem;
        font-weight: bold;
        transition: 1s;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__home{
        z-index: 24;
        left: 10%;
    }
    &__about{
        z-index: 20;
        left: 22.5%;
    }
    &__project{
        z-index: 16;
        left: 35%;
    }
    &__contact{
        z-index: 12;
        left: 47.5%;
    }
}
.menuSelect{
    & div{
        position: absolute;
        width: 12.5%;
        height: 100vh;
        background: #ed924e;
        transition: .1s;
        display: none;
        &:nth-of-type(1){
            z-index: 23;
            left: 12.5%;
        }
        &:nth-of-type(2){
            z-index: 19;
            left: 25%;
        }
        &:nth-of-type(3){
            z-index: 15;
            left: 37.5%;
        }
        &:nth-of-type(4){
            z-index: 11;
            left: 50%;
        }
    }
}